@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Poppins:wght@100;400;500;600;700;800;900&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.parallax {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mountains-bg {
  background-image: url("../../assets/bg-drone.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  transform-origin: center; 
  transform: scale(1.5);
}
.heading-5 {
  margin: 0 auto;
  position: relative;
  text-align: center;
  width: 85%;
  height: 92%;
}
h1 {
  position: relative;
  color: var(--grey, #ebebeb);
  font-family: "Urbanist";
  font-size: 88.359px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0 auto;
}

.inner-title {
  text-align: center;
  text-shadow: none;
  font-size: 103.359px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: transparent;
  font-family: "Urbanist";
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
}
.drone-feature {
  background-image: url("../../assets/drone-1.png");
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  bottom: 9%;
  background-size: cover;
  height: 50%;
  width: 50%;
  position: absolute;
}
.top-right-feature {
  position: absolute;
  right: 15%;
}

.top-right-feature-detail {
  color: var(--Color, #fff);
  text-align: center;
  font-family: Open Sans;
  font-size: 32.324px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.bottom-left-feature {
  position: absolute;
  left: 16%;
  bottom: 10%;
  top: 65%;
}
.bottom-left-feature-detail {
  color: var(--Color, #fff);

  text-align: center;
  font-family: Open Sans;
  font-size: 32.324px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.top-left-feature {
  display: flex;
  flex-direction: column-reverse;
  bottom: 20%;
  position: absolute;
  right:50%;

}
.top-left-feature-detail {
  color: var(--Color, #fff);

  text-align: center;
  font-family: Open Sans;
  font-size: 32.324px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: -10%;
}

.bottom-right-feature {
  position: absolute;
  right: 15%;
  top: 60%;
  /* display: none; */
}

.bottom-right-feature-detail {
  color: var(--Color, #fff);
  text-align: center;
  font-family: Open Sans;
  font-size: 32.324px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.drone-3{
  height: 70%;
  width: 70%;
}
.top-left-feature-drone{
  display: flex;
  flex-direction: column-reverse;
  bottom: 30%;
  position: absolute;
  left: 10%;
 height: 300px;
 width: 300px;

}
.top-right-feature-drone{
  display: flex;
  flex-direction: column-reverse;
  bottom: 30%;
  position: absolute;
  right: 10%;
  height: 300px;
  width: 300px;

}
@media screen and (max-width:768px) {
  .bottom-left-feature-detail{
    font-size: 25px;
  }
  .top-right-feature-detail{
    font-size: 25px !important;
   
  }
  .top-left-feature-detail{
    font-size: 25px !important;
   
  }
  .top-left-feature{
    left: 8%;
    width: 100%;
  }
  .drone-3{
   margin-bottom: 220px;
    height: 350px;
    width: 100%;
    
  }
  .top-left-feature-drone{
    top: 48%;
    left: 14%;
    
    width: 300px;
  }
  .top-right-feature-drone{
    height: 200px;
    top: 60%;
    left: 13%;
    
  }
  .top-right-feature-drone{
    /* left: -20%; */
  }
}