@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url('../../assets/Background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* z-index: -1; */

}
.heading{
    width: 930px;
    height: 248px;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin: 7.3rem;
    /* bottom:0.1px; */
    left: 20%;

}
.top-heading h1,
.bottom-heading h1{
    color: var(--grey, #EBEBEB);
    text-shadow: 0px 4px 34px rgba(130, 165, 107, 0.59);
    font-family: 'Urbanist';
    font-size: 103.359px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.hollow-heading{
    text-align: center;
    text-shadow: none;
    font-size: 103.359px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: transparent;
    font-family: 'Urbanist';
    -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
}

.drone-home{
    position: absolute;
    background-image: url('../../assets/drone-home.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 65%;
    height: 65%;
    align-items: center;
    justify-content: center;
    margin: 45px 208px;
    z-index: 100;

}
.drone{
    background-image: url('../../assets/drone-home.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mountain-layer{
    position: absolute;
    background-image: url('../../assets/Mountain.png');
    /* background-position: center; */
    background-repeat: no-repeat;
    /* on screen 1 background-size : cover & on screen-2 background-size will be not cover & bg-position will change from center to none/default */
    background-size: cover;
    overflow: hidden;
    width: 100%; 
    height: 100%;
    z-index: 101;
}
.main-title2{
    color: var(--grey, #EBEBEB);
text-align: left;
font-family: urbanist;
font-size: 50px;
width: 80%;
font-weight: 700;
margin-bottom: 8%;

}
.doot-desc{
text-align: center;
font-family: 'Urbanist';
font-size: 30px;
width: 80%;
font-weight: 600;
}
.gradient {
    background: linear-gradient(rgba(14, 62, 151, 0.5) 50%, black);
  }
  /* .main-title{
    margin-bottom: 30%;
    margin-left: 30%;
  } */
  .main-container {
    width: 100vw;
    height: 200vh;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  
  .container-key-features {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    height: 100vh;
    position: relative;
    width: 100%;
  }
  .container-diff {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    height: 100vh;
    position: relative;
    width: 100%;
  }
  
@media screen and (max-width:768px) {
    .main-title{
        font-size: 40px;
        /* margin-bottom: 70%; */
    }
    .inner-title{
        font-size: 40px !important;
        
    }
    
    .main-title2{
        font-size: 20px;
        width: 100vw;
        margin-bottom: 40%;
    }
    .doot-desc{
        font-size: 20px;
        margin-left: 10px ;
        margin-right: 10px ;
        width: 100%;
        font-weight: 400;
        margin-top: 150px;
    }
    #keyFeatures{
        line-height: 20px;
        height: 100%;
    }
}

@media screen and (max-width:425px) {
    #doot-title{
        font-size: 28px;
        
    }
}

.gradient {
    background: linear-gradient(rgba(14, 62, 151, 0.5) 50%, black);
  }

  .full {
    height: 100vh;
  }
  .gray {
    color: #446;
  }
  .inset {
    position: absolute;
    inset: 0;
  }

  .black-gradient {
    background: linear-gradient( rgb(33, 32, 32),rgba(1, 9, 25, 0.5) 70%);
  }

  .gradient2{
    background: linear-gradient( black, transparent 35%);

  }
  .gradient3{
    background: linear-gradient( black, transparent 50%);

  }