*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.gallery-wrapper{
    width: 100vw;
    position: relative;

}


.heading5{
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin: 20px;

}
.subtext{
    color: #717171;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.logo-banner{
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    gap: 10px; 
    overflow-x: auto; */
    margin-top: 2rem;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-rows: 1fr; /* Set a single row */
    grid-auto-flow: column; 
    gap: 10px;
    overflow-x: auto;
}

.banner-img{
    padding: 10px; 
}

.banner-img img {
    max-width: 100%; 
}

.gallery{
    max-width: 85%;
    margin: 20px auto;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    gap: 15px;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%;
    padding: 0 12px;
}

.gallery .pics img{
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    cursor: pointer;
    margin-bottom: 12px;
    border-radius: 5px;
    width: 100%;
}
.gallery .pics:hover {
    filter: opacity(.8);
}


@media screen and (max-width: 991px) {
    .logo-banner {
        /* grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); */
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        overflow: hidden;
    }
    .logo-banner::after {
        content: "";
        flex: auto;
    }

    .banner-img:nth-child(n+6) {
        display: none;
    }

    .banner-img img {
        max-width: 80%; 
    }

    .gallery{
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media screen and (max-width: 480px) {
    .logo-banner {
        /* grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));*/
         grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
         overflow: hidden;
    }

    .logo-banner::after {
        content: "";
        flex: auto;
    }

    .banner-img:nth-child(n+4) {
        display: none;
    }

    /* Decrease image size for smaller screens */
    .banner-img img {
        max-width: 80%; /* Adjust the size as needed */
    }

    .gallery{
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-width: 100%;
        -moz-column-width: 100%;
        column-width: 100%;
    }
}